{% extends 'base.html' %}

{% block content %}

<main class="d-flex flex-column align-items-center bg-dark text-light text-center m-0">
    <div class="container bg-light text-dark text-center mt-5 mb-5 m-0">
        <div class="row p-0">
            <h2>Car Inventory</h2>
            <h4 class="text-secondary">coming soon...</h4>
            <h4>Return to Home Page</h4>
            <a class="text-decoration-none w-50" href="{{ url_for('site.homepage')}}"><button type="button" class="btn btn-warning align-items-center m-1"><h5 class="text-dark">RETURN</h5></button></a>
        </div>
    </div>
</main>

{% endblock %}