<!-- THIS IS PART OF THE WEBPAGE THAT WILL BE USED EVERYWHERE -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<script src="https://kit.fontawesome.com/fe99dd52d4.js" crossorigin="anonymous"></script>
<title>Title</title>
</head>
<body class="bg-dark">
    <nav class="d-flex flex-row p-2 justify-content-between bg-secondary">
        <h1 class="text-warning">THE CAR DEALERSHIP</h1>
        <ul class="list-unstyled d-flex flex-column flex-md-row justify-content-evenly w-25">
            <li class="text-center d-flex flex-column justify-content-center"><h5 class="m-0 p-0"><a class="text-decoration-none text-dark" href="{{ url_for('site.homepage')}}">Home</a></h5></li>
            {% if current_user.is_authenticated %}
            <li class="text-center d-flex flex-column justify-content-center"><h5 class="m-0 p-0"><a class="text-decoration-none text-dark" href="{{ url_for('site.userpage')}}">User</a></h5></li>
            <li class="text-center d-flex flex-column justify-content-center"><h5 class="m-0 p-0"><a class="text-decoration-none text-dark" href="{{ url_for('auth.logout')}}">Logout</a></h5></li>
            {% else %}
            <li class="text-center d-flex flex-column justify-content-center"><h5 class="m-0 p-0"><a class="text-decoration-none text-dark" href="{{ url_for('auth.signup')}}">Sign-Up</a></h5></li>
            <li class="text-center d-flex flex-column justify-content-center"><h5 class="m-0 p-0"><a class="text-decoration-none text-dark" href="{{ url_for('auth.signin')}}">Sign-In</a></h5></li>
            {% endif %}
        </ul>
    </nav>

    <!-- This is where the magic happens! -->
    {% block content %}
    {% endblock %}
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>